# Snakemake / outputs
workflow/.snakemake/
workflow/data/
workflow/logs/
workflow/reference/
workflow/results/

*.fa
*.fasta
*.fq
*.fastq
*.bam
*.sam
*.vcf
*.bcf
*.gz
*.zip
*.png
*.svg
*.pdf
*.tsv
*.txt
*.bed
__pycache__/
*.pyc

